extends base.pug

block scripts
    link(rel='stylesheet', href='../static/styles.css')

block style
    style
        include ../static/styles.css

block content
    // Page Header
    header.masthead(style="background-image: url('../static/assets/img/post-bg.jpg')")
        div.container.position-relative.px-4.px-lg-5
            div.row.gx-4.gx-lg-5.justify-content-center
                div.col-md-10.col-lg-8.col-xl-7
                    div.post-heading
                        h1 My first interaction with a guitar 
                        h2.subheading A brief overview
                        span.meta
                            | Posted by 
                            a(href="#!") Saharsh Gupta 
                            | on October 21, 2023

    // Post Content
    article.mb-4
        div.container.px-4.px-lg-5
            div.row.gx-4.gx-lg-5.justify-content-center
                div.col-md-10.col-lg-8.col-xl-7
                    p When I was a child, I was very enthusiastic about music, especially how the msuicians can produce music in minutes by musical instruments such as Guitar, Piano, Flutes, etc. So, I also wanted to learn these instruments. I was very interested in Piano. But due to its unavailability. I bought a Guitar. It was looking very beautiful. It was six string acoustic guitar. BUt when I tried to play it, I discovered Its not that easy. I discovered bunch of things by looking into youtube. The names of strings i.e. EADGBE, guitar anatomy, strumming pattern, chords, and so on. but I will break it down for you into a simpler terms.
                    p So, Starting with the names the thickest one is called E and it goes like E A D G B E oh dont worry you dont have to remember this. There is an mnemonic for that which goes like this "Eddy Ate Dynamite Good Bye Eddy" look! So simple.
                    p The guitar consist of six major parts i.e. body, the big wooden hollow like part, then the neck which is like the handle of the guitar and then the tuners which tight (tune up) or loose (tune down) the strings. there is also bridge which hold's the strings on place in body. then comes the Fretboard, cool name! but its just the wooden handle with frets of the guitar. the frets are the lines or Extruded ridges below the strings. The fret postions markeres are also there to help you see which fret you are using. These are on the 3, 5, 7, and 9 fret of the fretboard. There are 24 of them but its not universal Your guitar can have 19, 21, or even 27 frets based on your model and manufacturer
                    p Now, we will talk about stumming patterns, Its the up and down motion of your hand that hits the strings and create sound. It is called pattern because its done in a specific that you can decide. but there are some common ones also like "Down Up Down" or "Down Up Down Up Down Down". There are many strumming patterns that you can use and you can even make your own.
                    
                    p Now, Lets see chord. The breaker of chains, mother of dragons, the true heir to throne, Oh Sorry its not that complicated or is it! well let me tell you its the sound when you press specific strings on frets. There are many chord like E minor, E major, G, C, D, and many more. But you only need to learn the basic ones. Its little difficult at first but within a week or two you start to get comfortable with it.
                    
                    p When I started my guitar journey. It was not that easy. The first problem that I faced is tuning my guitar for the first time. I didnt anything. but after searchin a little. I find there are three ways that I can tune it. The first is by using a tuner which is a device that you can attach to your guitar and It will tell you to tune up or tune down based on the vibration of a particular string. the second one is using a guitar tuner app in your mobile Phone and I think this the best way for a beginer to tune his/her/their guitar. and the last one is to get tuned it by the local professional.
                    p The next difficulty I faced is the pain in my fingers when I played chord. I came to know that its the pain that I have to suffer in order to play guitar but its temporary means you will develop calluses and will not feel any pain in just one or two months.
                    p After defeating pain, I have gone to fight dragons! oh I mean I just couldnt switch to different chord fast. The sollution to this problem is use of guitar learning apps (there are plenty of them) but I used guitarTuna by Yousician. There is a option to play chords games that will enhance your skills. I really liked the one called "Play chord that you see" in which you have to play as many as given chords in 35 second.
                    p This is the image of of the guitar that I used.
                    a(href="#") 
                    img.img-fluid(src="../static/assets/img/post-sample-image.jpg", alt="...")
                    p I liked this guitar because Its affordable, wooden, and sounds good. It even look better than most premium guitars
                    p I will continue this journey of learning a guitar and possibly will add more to this blog.
                    p
                        | Written by 
                        a(href="contact") Saharsh
                        | &middot; Images by 
                        a(href="/about") Saharsh